# ignore all . files and . folders
.*
!/.gitignore
!/.dockerignore
__pycache__
_exp
features
temp
MemoryUsage.csv
systemResource.py
MemoryUsage_ESMDispred.txt
MemoryUsage_ESM2Dispred.txt
MemoryUsage_ESM2PDBDispred.txt
MemoryUsageESMDispred.csv
MemoryUsageESM2Dispred.csv
MemoryUsageESM2PDBDispred.csv

!/.dockerignore
tools/Dispredict3.0/models
swissprot.psq
swissprot.phr
poetry.lock
tools/Dispredict3.0/ParallelDispredict3.0/temp
tools/Dispredict3.0/ParallelDispredict3.0/outputs