# ignore all . files and . folders
.*
!/.gitignore
!/.dockerignore
__pycache__
_exp
features
temp
MemoryUsage.csv
systemResource.py
MemoryUsage_ESMDispred.txt
MemoryUsage_ESM2Dispred.txt
MemoryUsage_ESM2PDBDispred.txt
MemoryUsageESMDispred.csv
MemoryUsageESM2Dispred.csv
MemoryUsageESM2PDBDispred.csv

!/.dockerignore
*.pkl
swissprot.psq
swissprot.phr
poetry.lock
ParallelDispredict3.0/temp
ParallelDispredict3.0/outputs